html {
    font-size: 62.5%;
}

body {
  background-image: url("bodybackground.png");
  background-repeat: no-repeat;
  background-size: cover;}

h1, h2, p, a {
  font-family: 'Glory', sans-serif;
  font-size: 42px;
  color: white;
  text-align: center;}

section {
  display: flex;
  justify-content: center;}

button {
  background-image: url("buttonbackground.png");
  background-repeat: repeat;
  background-size: contain;}

button:active {
  transform: translateY(1px);}

img {
  display: flex;
  justify-content: center;
  max-height: 75%;
}
