html {
    font-size: 62.5%; 
}

body {
  background-image: url("https://cdn.pixabay.com/photo/2020/06/25/11/30/pastel-5339368_1280.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

main{
  width: 75vw;
  margin: auto;
}

p, h2{
  margin: 1rem;
}

form{
  border-bottom: .2rem solid white;
  padding-bottom: 2rem;
}

h1, h2, p, a, span {
  font-family: 'Glory', sans-serif;
  font-size: 4rem;
  color: white;
  text-align: center;}

section {
  display: flex;
  justify-content: center;}

  footer p {
    font-size: 3rem;
  }

input[type="submit"] {
  background-image: url("https://img.wallpapersafari.com/desktop/1920/1080/2/64/96BfMP.png");
  background-repeat: repeat;
  background-size: contain;}

input[type="submit"] :active {
transform: translateY(1px);}

input{
  font-size: 2rem;
  width: 30vw;
}

img {
  max-width: 50vw;
  margin: auto;
}

.requestInfo, form {
  display: flex;
	flex-flow: column wrap;
  align-items: center;
}


@media all and (max-width: 500px){
main{
  width: 95vw;  
}
input {
  width: 80vw;
}
img{
max-width: 95vw;
}
}